<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="robots" content="index, follow">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover, shrink-to-fit=no, maximum-scale=1">
    <meta name="description" content="Découvrez le portfolio d'Etienne Kibongani Lombo, développeur full stack passionné par le développement logiciel. Spécialisé en JavaScript, Python, Java et frameworks modernes comme Angular, React et Laravel, explorez mes projets et compétences.">
    <link rel="shortcut icon" href="Assets/Icones/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.11.2/toastify.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@0.2.28/bundled/lenis.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <link rel="stylesheet" href="style.css">
    <title>Etienne KIBONGANI LOMBO - Portfolio | Ingénieur Informatique en Formation</title>
</head>
<body>
    <!--Header-->
    <%- include('partials/header') %>
    <!--end header-->
    <main>
        <!--CONTAINER-->
        <div class="container">
            <!--HERO-->
            <h1 style="display:none">Bienvenu dans mon monde</h1>
            <section id="introduction" class="introduction">
                <!--banner left-->
                <div class="banner-left">
                    <p>Hello&nbsp;<span></span></p> <!--data-typed-items="Développeur, Recruteur, Visiteur"-->
                    <h2>etienne kibongani lombo</h2>
                    <h3>ingénieur Informatique en formation</h3>
                    <p>
                        Passionné par les nouvelles technologies, la conception et la création, je suis un 
                        <span>Développeur Full Stack</span> méticuleux et innovant dans le monde du développement informatique.
                    </p>
                    <a href="Assets/cv/CV_Etienne_KIBONGANI_LOMBO_Dev_informatique.pdf" download class="btn active">consulter mon CV</a>
                    <a href="#portfolio" class="btn">aller au porfolio</a>
                </div>

                <!--banner right-->
                <div class="banner-right">
                    <img src="Assets/Hand_coding-pana.svg" alt="illustraction flat">
                </div>

                <!--arrow down-->
                <div class="arrow-down">
                    <a href="#presentation" class="scroll">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                </div>

                <!--Social media-->
                <%- include('partials/social-media') %>
            </section>

            <!--ABOUT-->
            <section id="presentation">
                <!--title about-->
                <div class="title-about">
                    <h2>qui suis-je</h2>
                </div>
                <!--container aboout-->
                <div class="container">
                    <div class="image-about">
                        <img src="Assets/Etienne-Kibongani.jpg" alt="image of Etienne KIBONGANI LOMBO">
                    </div>
                    <div class="content-about">
                        <p>
                            Hello👋, je suis Etienne Kibongani Lombo 😉, développeur Full Stack et c'est ici que je vous parle de mon parcours.
                        </p><br>
                        <p>
                            Passionné par le développement logiciel, j'ai acquis, au fil de ma formation et mes expériences professionnelles, les compétences nécessaires pour être
                            autonome et relever les défis techniques.
                        </p><br>
                        <p>
                            Je suis actuellement en quête d'une opportunité d'alternance dans le domaine du développement logiciel, pour une durée de 12 à 24 mois, à compter de novembre 2024.
                        </p><br>
                        <p>
                            J'aspire à intégrer une équipe ambitieuse, avec pour objectif de concevoir et de livrer des solutions applicatives web adaptées aux besoins des utilisateurs.
                        </p><br>
                        <p>
                            Animé par une passion précoce pour l'informatique 💻, j'ai toujours nourri le désir d'appréhender les mécanismes qui se dissimulent derrière l'ordinateur. Guidé par cet intérêt, j'ai trouvé ma vocation dans le domaine du développement logiciel en apportant mon concours à résoudre diverses problématiques liées aux artefacts numériques.
                        </p><br>
                        <p>
                            J'ai acquis une expertise approfondie dans divers langages de programmation, notamment : Java/Android, Python, JavaScript, PHP, Ocaml, C, Scala, Ruby, Lua et TypeScript. 
                        </p><br>
                        <p>
                            Je vous souhaite la bienvenue et espère que vous passerez un agréable séjour dans mon monde 😉.
                        </p>
                        <a href="#contact">conctatez-moi&nbsp;<i class="fa-regular fa-envelope"></i></a>
                    </div>
                </div>

                <!--social media-->
                <%- include('partials/social-media') %>
            </section>

            <!--EDUCATION-->
            <section id="education">
                <!--Title education-->
                <div class="title-education">
                    <h2>formation</h2>
                    <p>
                        N'hésitez pas à découvrir mon parcours de formation, je suis toujours en quête de nouvelles connaissances et prêt à évoluer dans le domaine.                    
                    </p>
                </div>
                <!-- container education-->
                <div class="container-education">
                    <!--timeline container-->
                    <div class="timeline-container">
                        <!--check point-->
                        <div class="checkpoint"></div>
                        <!--title education-1-->
                        <div class="title-education-1">
                            <h3><i class="fa-solid fa-graduation-cap"></i>&nbsp;Mastère Analyste DevOps</h3>
                        </div>
                        <!--schedule-->
                        <div class="schedule">
                            <div class="info crochets">
                                <p><i class="fa-solid fa-school"></i>CFA INSTA&nbsp;<span>&#171;&nbsp;Passerelle Sorbonne&nbsp;&#187;</span></p>
                                <p><i class="fa-solid fa-location-dot"></i>Paris, France</p>
                                <p><i class="fa-regular fa-calendar-days"></i>Septembre 2024 - Juillet 2025</p>
                            </div>
                            <img src="Assets/img-portfolio/Logo-CFAINSTA.png" alt="Logo CFA INSTA" class="logo">
                        </div>
                        <div class="text-container">
                            <p>
                                Ce mastère me permet de maîtriser les enjeux de l'agilité IT et de la culture DevOps. J'acquiers des compétences en intégration continue, déploiement automatisé et gestion de l'infrastructure en tant que code. 
                                Grâce à une approche pratique et des projets en entreprise, je développe une expertise solide pour optimiser le cycle de vie des applications et favoriser la collaboration entre les équipes de développement et d'exploitation.
                            </p>
                        </div>
                    </div>

                    <!--timeline container-->
                    <div class="timeline-container">
                        <!--check point-->
                        <div class="checkpoint"></div>
                        <!--title education 2-->
                        <div class="title-education-2">
                            <h3><i class="fa-solid fa-graduation-cap"></i>&nbsp;Licence Informatique</h3>
                        </div>
                        <!--schedule-->
                        <div class="schedule">
                            <div class="info">
                                <p><i class="fa-solid fa-school"></i>Université Paris-Est Créteil</p>
                                <p><i class="fa-solid fa-location-dot"></i>Créteil, France</p>
                                <p><i class="fa-regular fa-calendar-days"></i>Septembre 2019 - Décembre 2023</p>
                            </div>
                            <img src="Assets/img-portfolio/UPEC_logo.svg.png" alt="Logo upec" class="logo">
                        </div>
                        <!--en schedule-->
                        <div class="text-container">
                            <p>
                                - Connaître les principaux types de représentation des données informatiques<br>
                                - Modéliser un problème concret à l'aide des structures de données appropriées<br>
                                - Comprendre, expliquer ou mettre au point un algorithme<br>
                                - Connaître les notions classiques d'analyse d'algorithmes (correction, terminaison, complexité) et savoir les appliquer à des exemples simples<br>
                                - Mettre en oeuvre une solution algorithmique dans divers types de langages de programmation (impératif, objet, fonctionnel)<br>
                                - Connaître quelques modèles formels fondamentaux (automates, langages, grammaires), leurs principales propriétés et leur usage pour la compilation de programmes<br>
                                - Concevoir et maintenir une base de données, concevoir et réaliser un site web<br>
                                - Connaître l'organisation et l'usage des systèmes, des machines et des réseaux informatiques<br>
                            </p>
                        </div>
                    </div>
                </div>

                <!--SOCIAL MEDIA-->
                <%- include('partials/social-media') %>
            </section>

            <!--SKILL-->
            <section id="skill">
                <!--title skill-->
                 <div class="title-skill">
                    <h2>compétences</h2>
                     <p>
                        N'hésitez pas à parcourir mes compétences, je suis prêt à mettre mon expertise à votre service et à relever de nouveaux défis.                    
                    </p>
                </div>
                <!--container skill-->
                <div class="container-skill">
                    <!-- skill box-1-->
                    <div class="skill-box">
                        <!--title skill 1-->
                        <div class="skill-title">
                            <div class="img">
                                <img src="Assets/Icones/icons8-logo-java-coffee-cup-64.png" alt="logo java" class="skill-icon">
                            </div>
                            <h3>java</h3>
                        </div>
                        <p>
                            Développeur Java, je crée des applications solides et efficaces.
                        </p>
                    </div>
                    <!-- skill box-2-->
                    <div class="skill-box">
                        <!--title skill 2-->
                        <div class="skill-title">
                            <div class="img">
                                <img src="Assets/Icones/icons8-python-48.png" alt="logo python" class="skill-icon">
                            </div>
                            <h3>python</h3>
                        </div>
                        <p>
                            Passionné de Python, j'automatise des tâches et analyse des données avec facilité.
                        </p>    
                    </div>
                    <!-- skill box-3-->
                    <div class="skill-box">
                        <div class="skill-title">
                            <div class="img">
                                <img src="Assets/Icones/icons8-javascript-48.png" alt="logo javascript" class="skill-icon">
                            </div>
                            <h3>javascript</h3>
                        </div>
                        <p>
                            Expert JavaScript, j'apporte interactivité et dynamisme aux sites web.
                        </p> 
                    </div>

                    <!-- skill box-4-->
                    <div class="skill-box">
                        <div class="skill-title">
                            <div class="img">
                                <img src="Assets/Icones/icons8-html-5-48.png" alt="logo html5" class="skill-icon">
                            </div>
                            <h3>html5</h3>
                        </div>
                        <p>
                            Maîtrisant HTML, je structure des contenus web clairs et accessibles.
                        </p> 
                    </div>

                    <!-- skill box-5-->
                    <div class="skill-box">
                        <div class="skill-title">
                            <div class="img">
                                <img src="Assets/Icones/icons8-css-48.png" alt="logo css3" class="skill-icon">
                            </div>
                            <h3>css3</h3>
                        </div>
                        <p>
                            Avec CSS, je réalise des designs esthétiques et réactifs pour une expérience utilisateur optimale.
                        </p> 
                    </div>

                    <!-- skill box-6-->
                    <div class="skill-box">
                        <div class="skill-title">
                            <div class="img">
                                <img src="Assets/Icones/icons8-langage-de-programmation-ruby-48.png" alt="logo ruby" class="skill-icon">
                            </div>
                            <h3>ruby</h3>
                        </div>
                        <p>
                            Enthousiaste de Ruby, j'utilise Rails pour développer des applications web élégantes et performantes.
                        </p> 
                    </div>
                </div>
            </section>

            <!--EXPERIENCE-->
            <section id="experience">
                <!--title experience-->
                <div class="title-experience">
                    <h2>expériences professionnelle</h2>
                    <p>
                        N'hésitez pas à explorer mes expériences professionnelles, je suis enthousiaste à l'idée de partager mes réalisations et de contribuer à de nouveaux projets.                    
                    </p>
                </div>
                <!--container experience-->
                <div class="experience-container">
                    <!--timeline container-->
                    <div class="timeline-container">
                        <!--check point-->
                        <div class="checkpoint"></div>
                        <!--experience-1-->
                        <div class="experience-1">
                            <!--title-experience-1-->
                            <div class="title-experience-1">
                                <h3><i class="fa-solid fa-laptop-code"></i>&nbsp;développeur full stack java et big data</h3>
                            </div>
                            <!--schedule-->
                            <div class="schedule">
                                <div class="info">
                                    <p><i class="fa-solid fa-briefcase"></i>Talan</p>
                                    <p><i class="fa-solid fa-location-dot"></i>Saint-quentin en yvelinne</p>
                                    <p><i class="fa-regular fa-calendar-days"></i>Mai 2023 - Juin 2023</p>
                                </div>
                                <img src="Assets/img-portfolio/Talan-logo.jpg" alt="logo Talan" class="logo">
                            </div>
                       
                            <!--text-container-->
                            <div class="text-container">
                                <p>
                                    Contexte : Assistance à l'équipe dans la mise à jour des Tableaux de bord et le développement Front & Back pour une « Plateforme de gestion de projet collaborative »<br>
                                        - Création et implémentation de tableaux de bord<br>
                                        - Développement de l'interface utilisateur en adéquation avec les besoins de l'équipe métier <br>
                                        - Développement et intégration du backend pour le traitement des files de données <br>
                                        <strong>Environnement technique : ElasticSearch, Kaban, Angular, Java, Spring Boot</strong> 
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--end timeline container-->
                    
                    <!--timeline container-->
                    <div class="timeline-container">
                        <!--check point-->
                        <div class="checkpoint"></div>
                        <!--experience-2-->
                        <div class="experience-2">
                            <!--title experience-1-->
                            <div class="title-experience-2">
                                <h3><i class="fa-solid fa-user-tie"></i>&nbsp;Appuie Technique Eprel (Migreur informatique)</h3>
                            </div>
                            <!--schedule-->
                            <div class="schedule">
                                <div class="info">
                                    <p><i class="fa-solid fa-briefcase"></i>Université paris-est créteil</p>
                                    <p><i class="fa-solid fa-location-dot"></i>Créteil, France</p>
                                    <p><i class="fa-regular fa-calendar-days"></i>juin 2021 - jan. 2022</p> 
                                </div>
                                <img src="Assets/img-portfolio/UPEC_logo.svg.png" alt="logo upec" class="logo">
                                 
                            </div>
                            <!--text-container-->
                            <div class="text-container">
                                <p>
                                    Contexte : Migration des données de l'ancienne plateforme vers Eprel V2 <br>
                                        - Structurer et traiter les données selon les templates demandés <br>
                                    <strong>Environnement technique : fichiers Word, pdf, Java, Excel etc</strong>
                                </p>
                            </div>
                        </div>
                    </div>  
                    <!--end timeline container-->
                </div>
                <!--end container experience-->

                <!--SOCIAL MEDIA-->
                <%- include('partials/social-media') %>
            </section>

            <!--PORTFOLIO-->
            <section id="portfolio">
                <div class="title-portfolio">
                    <h2>portfolio</h2>
                    <p>Ci-dessous, quelques exemples de réalisations effectuées durant ma formation, le stage et plus encore : </p>
                </div>
                <div class="container-portfolio">
                    <!-- portfolio box-1-->
                    <div class="project-box">
                        <!--title project 1-->
                        <div class="project-title">
                            <!--project image-->
                            <div class="project-img">
                                <img src="Assets/img-portfolio/site-restaurant-xyz.png" alt="image site restaurant" class="img-portfolio">
                            </div>
                            <!--Overlay-->
                            <div class="overlay">
                                <a href="https://github.com/ImEtienne/restaurant-table-reservation" target="_blank"><h4>Restaurant xyz</h4></a>
                            </div>
                            <!--<h3>project web - restaurant-xyz</h3>-->
                        </div>    
                    </div>
                    <!--end box-1-->

                    <!-- portfolio box-2-->
                    <div class="project-box">
                        <!--title project 2-->
                        <div class="project-title">
                            <div class="project-img">
                                <img src="Assets/img-portfolio/portfolio-v1.png" alt="image portfolio v1" class="img-portfolio">
                            </div>
                             <!--Overlay-->
                            <div class="overlay">
                                <h4>portfolio v1</h4>
                            </div>
                            <!--<h3>portfolio v1</h3>-->
                        </div>   
                    </div>
                    <!--end box-2-->

                    <!-- portfolio box-3-->
                    <div class="project-box">
                        <!--title project 3-->
                        <div class="project-title">
                            <div class="project-img">
                                <img src="Assets/img-portfolio/pacman.png" alt="image jeu pacman" class="img-portfolio">
                            </div>
                             <!--Overlay-->
                            <div class="overlay">
                                <a href="https://github.com/ImEtienne/pacman" target="_blank"><h4>Pacman</h4></a>
                            </div>
                            <!--<h3>Pacman</h3>-->
                        </div>    
                    </div>
                    <!--end box-3-->

                    <!-- portfolio box-4-->
                    <div class="project-box">
                        <!--title project 4-->
                        <div class="project-title">
                            <div class="project-img">
                                <img src="Assets/img-portfolio/Gestion-de-planning.png" alt="image gestion de planning" class="img-portfolio">
                            </div>
                             <!--Overlay-->
                            <div class="overlay">
                                <a href="https://github.com/ImEtienne/Conception-site--Gestion-Planning" target="_blank"><h4>Gestion de Planning</h4></a>
                            </div>
                            <!--<h3>Gestion de Planning</h3>-->
                        </div>    
                    </div>
                    <!--end box-4-->

                    <!-- portfolio box-5-->
                    <div class="project-box">
                        <!--title project 5-->
                        <div class="project-title">
                            <div class="project-img">
                                <img src="Assets/img-portfolio/falling_snake.png" alt="image falling snake" class="img-portfolio">
                            </div>
                             <!--Overlay-->
                            <div class="overlay">
                                <a href="https://github.com/ImEtienne/FallingSnake" target="_blank"><h4>Falling Snake</h4></a>
                            </div>
                            <!--<h3>Falling Snake</h3>-->
                        </div>  
                    </div>
                    <!--end box-5-->

                    <!-- portfolio box-6-->
                    <div class="project-box">
                        <!--title project 6-->
                        <div class="project-title">
                            <div class="project-img">
                                <img src="Assets/img-portfolio/concours-chat.png" alt="image site concours chat" class="img-portfolio">
                            </div>
                             <!--Overlay-->
                            <div class="overlay">
                                <h4>Concours chat</h4>
                            </div>
                           <!--<h3>Concours chat</h3>-->
                        </div>    
                    </div>
                    <!--end box-6-->
                </div>
            </section>

            <!--MOTIVATION-->
            <!--<section id="motivation" class="display: none"></section>-->

            <!--CONTACT-->
            <section id="contact" class="nous-contacter">
                <!--title contact-->
                <div class="title-contact">
                    <h2>contact</h2>
                    <p class="text-p">N'hésitez pas à me contacter, je vous répondrai dans les plus brefs délais.</p>
                </div>
                <!--container contact-->
                <div class="container-contact">
                    <!--Card form-->
                    <div class="card-form">
                        <form action="/send_email" method="POST" id="form">
                            <div class="box-name">
                                 <div class="input-control">
                                    <input type="text" id="firstname" name="firstname" placeholder="Votre prénom">
                                    <div class="error"></div>
                                </div>
                                <div class="input-control">
                                    <input type="text" id="username" name="username" placeholder="Votre nom">
                                    <div class="error"></div>
                                </div>
                            </div>
                           
                            <div class="input-control">
                                <input type="email" id="email" name="email" placeholder="Adresse E-mail">
                                <div class="error"></div>
                            </div>
                            <div class="input-control">
                                <input type="tel" id="phone" name="phone" placeholder="Téléphone">
                                <div class="error"></div>
                            </div>
                            <div class="input-control">
                                <input type="text" id="object" name="object" placeholder="Objet">
                                <div class="error"></div>
                            </div>
                            <div class="input-control">
                                <textarea id="message" name="message" placeholder="Votre message"></textarea>
                                <div class="error"></div>
                            </div>
                            <button type="submit" value="Send" id="sendButton">
                                Envoyer 
                            </button>
                            <div id="loader" class="loader hidden"></div>

                        </form>
                    </div>
                    <!-- Coordinate -->
                    <div class="coordinate">
                        <div class="coodinate-mail">
                            <i class="fa-regular fa-envelope"></i>
                            <p>etiennekibonganiwork@gmail.com</p>
                        </div>
                        <div class="coodinate-phone">
                            <i class="fa-solid fa-phone"></i>
                            <p>06.52.78.13.75</p>
                        </div>
                        <div class="coodinate-address">
                            <i class="fa-solid fa-location-dot"></i>
                            <p>75000 | Paris | France</p>
                        </div>
                        <div class="coodinate-links">
                            <a href="https://github.com/ImEtienne" target="_blank"><i class="fa-brands fa-github"></i></a>
                            <a href="https://www.linkedin.com/in/etienne-kibongani-lombo/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                            <a href="#"><i class="fa-brands fa-codepen"></i></a>
                        </div>
                    </div>
                </div>
            </section>
            <!--End contact-->
        </div>
    </main>
    <!--Footer-->
     <%- include('partials/footer') %>
    <!--btn top-->
    <div class="bton">
      <img src="Assets/arrow-up-solid.svg"  alt="bouton haut" class="icone">
    </div>
    <!--end btn top-->
    <!-- app Js -->
    <script src="app.js"></script>
    <!-- ionIcons-->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <!--Toastify-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.11.2/toastify.min.js"></script>
    <script>
        /(trident|msie)/i.test(navigator.userAgent) && 
        document.getElementById && 
        window.addEventListener && 
        window.addEventListener("hashchange", function() {
            var element, hash = location.hash.substring(1);
            if (/^[A-z0-9_-]+$/.test(hash) && (element = document.getElementById(hash))) {
                if (!/^(?:a|select|input|button|textarea)$/i.test(element.tagName)) {
                    element.tabIndex = -1;
                }
                element.focus();
            }
        }, false);
    </script>
</body>
</html>